.right {
    text-align: right;
}

table {
    background-color:  lightgrey;
    border: 1px solid black;
}

tr.odd {
    border: 1px solid #59b4d4; 
    background: #0078a3 url(jquery-ui/css/ui-darkness/images/ui-bg_glass_40_0078a3_1x400.png) 50% 50% repeat-x; 
    font-weight: bold; 
    color: #ffffff;
}
